[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mechanicalsoup = "*"
pandas = "*"
tqdm = "*"
scikit-learn = "*"
markdownify = "*"

[dev-packages]
notebook = "*"
ipywidgets = "*"

[requires]
python_version = "3.8"
